{
    "plugins": ["wdio"],
    "extends": [
        "plugin:wdio/recommended",
        "eslint:recommended"
    ],
    "parserOptions":   {
        "ecmaVersion": "latest",
        "sourceType": "module"
     },
     "environment":{
        "esc": true,
        "mocha": true,
        "node": true
     }
}